{% extends 'base.html' %}
{% block content %}
  <div class="contact-container">
    <div class="contact-info">
      <h1>CƠ SỞ SẢN XUẤT VÀ KINH DOANH</h1>
      <h2>Công ty TNHH PORK UP</h2>
      <div class="address-info">
        <h3>ĐỊA CHỈ:</h3>
        <p>175A6, KP Bình Khởi, Xã Sơn Đông, Tỉnh Vĩnh Long</p>
       
      </div>
      <div class="company-logo">
        <img src="{{ url_for('static', filename='LOGO.png') }}" alt="Pork Up Logo" class="logo-img">
      </div>
      <div class="certificates-section">
        <a href="/giay-phep" class="cert-btn">XEM GIẤY PHÉP KINH DOANH</a>
      </div>
      <h3>SĐT LIÊN HỆ:</h3>
      <p>0345097039</p>
    </div>
  </div>

{% endblock %}
